BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowAllArgumentsOnNextLine: true
PointerAlignment: Right
AlignOperands: true

AlignArrayOfStructures: Right
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive

BinPackArguments: false
BinPackParameters: false
BreakAfterJavaFieldAnnotations: True
BreakStringLiterals: True
BreakBeforeBraces: Attach
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
SpacesInParentheses: false
SpacesInAngles: Never
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: true
MaxEmptyLinesToKeep: 1
